@use "/src/styles/abstract/functions" as fns;

.form {
  &::before {
    content: "";

    width: 100%;
    min-height: 100px;

    position: absolute;
    top: -50px;

    background-color: fns.getColor(info);
  }

  & .formCard {
    width: 90%;
    max-width: 56.25rem;
  }
}
