$_primary: #102e4a;
$_secondary: #1a344d;
$_info: #4097da;
$_dark: #1d1d1d;
$_light: #f2f2f2;

$theme-colors: (
  "primary": $_primary,
  "secondary": $_secondary,
  "info": $_info,
  "dark": $_dark,
  "light": $_light,
);